﻿@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h2>@(Model.EmployeeId == 0 ? "Create" : "Edit") </h2>

<hr />
    
<form asp-controller="Employees" asp-action="Edit" method="post">
    <div class="form-group">
        @Html.LabelFor(x => x.FirstName)
        @Html.EditorFor(x => x.FirstName)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.LastName)
        @Html.EditorFor(x => x.LastName)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.EmployeeNum)
        @Html.EditorFor(x => x.EmployeeNum)
    </div>
    <div class="form-group">
        @Html.LabelFor(x => x.BirthDate)
        @Html.EditorFor(x => x.BirthDate)
    </div>
    <button type="submit" class="info">SUBMIT</button>
</form>

