﻿@model List<EmployeeViewModel>

@{
    ViewData["Title"] = "Employees";
}

<h2>Employees</h2>

<hr/>

<div>
    @Html.ActionLink("Create", "Edit", "Employees", null, new { @class = "btn btn-primary" })
</div>

@if (Model != null && Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Employee Number</th>
            </tr>
        </thead>
        <tbody>
        @foreach (var employee in Model)
        {
            <tr>
                <td>@employee.FirstName</td>
                <td>@employee.LastName</td>
                <td>@employee.EmployeeNum</td>
                <th scope="col">
                    @Html.ActionLink("Edit", "Edit", "Employees", new { id = employee.EmployeeId }, new { @class = "btn btn-primary" })
                </th>
                <th scope="col">
                    @Html.ActionLink("Delete", "Delete", "Employees", new { id = employee.EmployeeId }, new { @class = "btn btn-primary" })
                </th>
            </tr>
        }
        </tbody>
    </table>
}
